.color-1 {
    color: red;
}

/* R G B по 2 цифры --- 16ричная система от 000000 до ffffff*/
.color-2 {
    color: #4b0082;
}

/* сокрращенная запись */
.color-3 {
    color: #ddd;
}


/* 0-255 через R, G, B */
.color-4 {
    color: rgb(0, 150, 0);
    /* отдельно прозрачность */
    opacity: 0.2;
}

/* 0-255 через R, G, B с прозрачностью "а" от 0-1*/
.color-5 {
    color: rgba(0, 150, 0, 0.2 );
}